
<form method="post" action="" id="form">
    <label>Title</label>
    <input type="text" id="title" name="title111" />
    <br />
    <label>Url</label>
    <input type="text" id="url" name="url" />
    <br />
    <input type="submit" value="Submit" id="save"/>
</form>

@section Scripts {
    <script type="text/javascript">
        @*$(document).ready(function () {
            $('#save').click(function () {
                var model = {
                    Title: $("#title").val(),
                    Url: $("#url").val()
                }
                var url = "@Url.Action("SaveData", "Blog")";
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(model),
                    url: url,
                    contentType: "application/json",
                    success: function (data) {
                        alert(data);
                    }
                })
            });
        });*@  

        $(document).ready(function () {
            $('#save').click(function () {
                var str = $('#form').serialize();
                var url = "@Url.Action("Save","Blog")";
                $.post(url, str).done(function (response) {
                    console.log(JSON.stringify(response));
                })
            });
        });
    </script>
}